#special {
  border: 2px solid black;
  background-color: lightskyblue;
  height:100%;
  width:100%;
}
#tbDetails {
  width: 90%;
  height: 75%;
  overflow: scroll;
  display: block;
  overflow-y:auto;
}
#messageInput {
  background-color: lightblue;
}
button {
  width: 100%;
  height: 100%;
  margin-left: 60%;
}
#usernameFied{
  vertical-align:top;

}
/*tr {
  min-width: 600px;
  max-width: 900px;
}*/
