
<div id="special">
  
  <table class="fixed_header" id="tbDetails" >
    <thead>
      <tr *ngFor="let item of groupDiscution.messages">
        <td style="color: crimson; font-size: medium; width:100px">{{item.sender}}</td>
        <td style="width:50%">{{item.content}}</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <td id="usernameFied">
          <p>Username : </p>
          <input style="background-color:lightblue;" type="text" value="{{ds.connectedUser.username}}" readonly />
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <p>Message : </p>
          <textarea #messageInput id="messageInput" cols="60" rows="2"></textarea>
          <!--<input #messageInput id="messageInput" type="text" />-->
        </td>
        <td>
          <br /><br /><br />
          <button style="background-color:lightblue; font-size:medium; font-weight:bold" type="button" (click)="sendMessage(messageInput.value)">Send</button>
        </td>
      </tr>
    </thead>
  </table>
</div>
<!--<script>
  function test() {
    document.messagesList.reverse();
  };
</script>-->
