
<body>
  <div class="box">
    <button id="quitButton" type="button" (click)="quitter()">Quitter</button>
    <table>
      <tr>
        <td id="navigation">
          <app-navigation-selector ></app-navigation-selector>
        </td>
        <td id="chatBox">
          <!--chat view-->
          <app-chat-principal ></app-chat-principal>
        </td>
      </tr>
    </table>
  </div>
</body>

