body {
  background-color: lightblue;
  
}
.box {
  width: 90%;
  height: 90%;
}

table {
  width:100%;
  height:100%;
}

#quitButton {
  background-color: tomato;
  font-size: medium;
  font-weight: bold;
  float: right;
  width: 50%;
  height: 50%;
}

#chatBox{
  width: 100%;
  height: 100%;
}

#navigation{
  width:25%;
}
