<link />
<body>
  <form [formGroup]="angForm" class="box" novalidate>
    <h1>Connection</h1>
      <input type="text" formControlName="username" name="username" placeholder="Username" #username /><br />
      <button type="submit" (click)="LogIn(username.value)" class="btn btn-primary">Connection</button>
  </form>
</body>
