#bigDiv {
  border: 2px solid black;
  background-color: lightskyblue;
  text-align: center;
  align-content: center;
  overflow-y:auto;
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  background-color: lightslategray;
  display: block;
  margin: 2px auto;
  text-align: center;
  border: 2px solid black;
  padding: 8px 20px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
