<div id="bigDiv">
  <table>
    <tr *ngFor="let group of groupList">
      <td><button id="groupeButton" (click)="Select(group.name)">{{ group.name }}</button></td>
    </tr>

  </table>
  <div>
    <input type="text" name="newName" placeholder="Name of the new group" #newName/><br />
    <button (click)="Create(newName.value)">Create A discution Group</button>
  </div>
</div>
